@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to BreadCrumbs!</h1>
        <p><a href="/Ticket" style="font-size: 30px;">View All Tickets</a>.</p>
        <p><a href="/Ticket" style="font-size: 30px;">View User Tickets</a>.</p>
    </div>
