@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p><a href="/Ticket">Create Tickets</a>.</p>
        <p><a href="/User">View User Tickets</a>.</p>
    </div>
