@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to BreadCrumbs!</h1>
        <p><h2>First time user?</h2> <a class="nav-link" asp-area="" asp-controller="Ticket" asp-action="UserTickets" style="font-size: 20px;">Start Here</a></p>
        <p><h2>Returning User</h2><a class="nav-link" asp-area="" asp-controller="Ticket" asp-action="Index" style="font-size: 20px;">Login to view tickets</a></p>


    </div>
