@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to BreadCrumbs!</h1>
        <p><a class="nav-link" asp-area="" asp-controller="Ticket" asp-action="Index" style="font-size: 20px;">View All Tickets</a></p>
        <p><a class="nav-link" asp-area="" asp-controller="Ticket" asp-action="UserTickets" style="font-size: 20px;">View User Tickets</a></p>
    </div>
